<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <appender name="CLOUD" class="com.google.cloud.logging.logback.LoggingAppender">
    <log>application.log</log> <!-- optional: cloud log name -->
  </appender>

  <root level="INFO">
    <appender-ref ref="CLOUD"/>
  </root>
</configuration>
